<div class="page-header">
  <h1><%= "Privacy Policy" %></h1>
</div>

This site, defines the Privacy Policy as follows.<br>

<div class="privacy-policy">
  <h4>Management of personal information</h4>
  <div class="article">
  <p>
    Order to keep the state of the accurate and up-to-date customers' personal information, to prevent such unauthorized access, loss, damage, alteration, leakage of personal information, this site, maintenance and employee training of maintenance and management system of the security system Make the strict management of personal information and take necessary measures such as thorough, implement safety measures.
  </p>
  </div>

  <h4>Purpose of use of personal information</h4>
  <div class="article">
    <p>
      The personal information you have entrusted to us by our customers and should be used for a display of this site.<br>
      We do not use otherwise.
    </p>
  </div>

  <h4>Prohibition of disclosure and provision of personal information to third parties</h4>
  <div class="article">
    <p>
      The proper management of personal information you have entrusted to us than our customers, unless there is consent of the customer, this site, we do not disclose personal information to third parties.
    </p>
  </div>

  <h4>Safety measures for personal information</h4>
  <div class="article">
    <p>
      In order to ensure safety and accuracy of personal information, this site has taken all possible measures to security.
    </p>
  </div>

  <h4>Inquiry of the person in question</h4>
  <div class="article">
    <p>
      If the customer is hope and query, modify, delete the personal information of the person in question, on the check, and we will respond that it is your identity.
    </p>
  </div>

  <h4>Review and compliance with laws and regulations, norms</h4>
  <div class="article">
    <p>
      Comply with laws and regulations, and other norms of Japan to be applied with respect to personal information held, to review as appropriate the contents of this policy, this site will strive to improve.
    </p>
  </div>

  <h4>Contact</h4>
  <div class="contact">
    <address>
      <%= link_to @contact_email, "mailto:##{@contact_email}" %>
    </address>
  </div>
</div>
