<div class="page-header">
  <h1><%= "Terms of use" %></h1>
</div>

<p>
  This Terms of Use (below, I referred to as the "Terms".) is intended to determine the terms and conditions of service (below, I referred to as the "Services".) to be provided on this web site. The our registered users (below, I referred to as "user".), in accordance with this Agreement, you will use this service.
</p>

<div class="terms-of-use">
  <h4>Article 1 (Apply)</h4>
  <div class="article">
    <p>
      This Agreement, shall be applied to any relationship that involved the use of this service.
    </p>
  </div>

  <h4>Article 2 (Use registration)</h4>
  <div class="article">
    <p>
      <ol>
        <li>There is no need of registration to the use of this service. However, if you are using this service to perform the events of creation and notification, owned by the user himself, you will need to account for the specified Internet service (below, I referred to as the "specified Internet Services").</li>
        <li>Based in the preceding paragraph, if the user has the authentication using the account of the specified Internet service, the name of the user than provide company for the specified Internet services, there is a possibility to get personal information such as e-mail address. Personal information of the acquired user (below, I referred to as "Personal Information"), you shall be managed in accordance with "Hiddeste 'privacy policy'" to define separately.</li>
        <li>On this Web site, you may want to display a third party advertising. User, based on the advertisements, transactions that are carried out between the advertisement of the advertiser, which has been made between the user himself and the advertiser, the user damages from the transactions even suffered, this service does not take any responsibility.</li>
      </ol>
    </p>
  </div>

  <h4>Article 3 (Prohibitions)</h4>
  <div class="article">
    <p>
      Users Upon use of this service, it must not be the following acts.
      <ol>
        <ul>
          <li>(1) Acts that violate the law or public policy</li>
          <li>(2) Acts related to criminal acts</li>
          <li>(3) You can destroy the function of the server or network of this service, act of or interfere</li>
          <li>(4) Acts that could interfere with the operation of this service</li>
          <li>(5) Act to collect or store the personal information concerning other users</li>
          <li>(6) Act to impersonate other users</li>
          <li>(7) In connection with the Service, the act of donating profit directly or indirectly against anti-social forces</li>
          <li>(8) Other users or any third party intellectual property rights of this service, publicity right, privacy, act of infringement other rights or interests honor</li>
          <li>(9) Excessively violent representation, explicit sexual expression, race, nationality, creed, gender, social status, representation that leads to discrimination by family origin, etc., suicide, self-harm, attract or encourage to express drug abuse, other the expression offensive to others including the anti-social content, post or act of transmitting</li>
          <li>(10) Sales, publicity, advertising, solicitation, other profit any act with the purpose, sexual activity and actions for the purpose of indecent act, act for the purpose of meeting and dating of the acquaintance no heterosexual, harassment and slander against other customers act that it is an object of the present invention, the act of using this service for a different purpose and intended use of other this service is planned</li>
          <li>(11) Solicitation to religious activities or religious organization</li>
          <li>(12) Others, it is determined that inappropriate behavior</li>
        </ul>
      </ol>
    </p>
  </div>

  <h4>Article 4 (Such as stopping the provision of this service)</h4>
  <div class="article">
    <p>
      <ol>
        <li>If it is determined that there are any events below, it is assumed that the provision of all or part of the services can be stopped or interrupted without prior notice to the user.</li>
        <ul>
          <li>(1) If you do the maintenance or updating of such a computer system to this service</li>
          <li>(2) Earthquake, lightning, fire, by force majeure such as a power outage or natural disaster, if the provision of the service became difficult</li>
          <li>(3) If the computer or communication line or the like is stopped by accident</li>
          <li>(4) Others, if the provision of the service is determined to be difficult</li>
        </ul>
        <li>By the stop or interruption of the provision of the service, for any disadvantage or damage the user or third party has suffered, and does not assume any responsibility regardless of the reason.</li>
      </ol>
    </p>
  </div>

  <h4>Article 5 (Copyright)</h4>
  <div class="article">
    <p>
      <ol>
        <li>The user, or having the necessary intellectual property rights such as their own copyright, or necessary rights holders sentence obtained the permission of, only information such as image and video, to be using this service, you post or edit it is assumed that you can.</li>
        <li>Text the user has posted or edited using this service, image, for the copyright of the video, etc., shall be reserved to the user other existing rights holders. However, post or edited text by using this service, image, it is assumed that are available a video, etc., the user, for this use, and shall not exercise moral rights.</li>
        <li>With the exception of those provisions of the preceding paragraph, the copyright and other intellectual property rights of any of the information related to this service and this service is the property of their rights who license its use to all this service, users replication without permission , transfer, rent, translation, modification, reproduction, (including the sending enabling.) public transmission, transmission, distribution, publishing, and business use, etc. Suppose you shall not.</li>
      </ol>
    </p>
  </div>

  <h4>Article 6 (Use restrictions and deregistration)</h4>
  <div class="article">
    <p>
      <ol>
        <li>In all cases, without prior notice, to the user and limits the use of all or part of the service, or it shall be able to cancel the registration as the user.</li>
        <ul>
          <li>(1)If you violate any provision of this Agreement</li>
          <li>(2)If you that there is a false fact to registration matters were found</li>
          <li>(3)Other, if it is determined that it is not appropriate to use the Service</li>
        </ul>
        <li>For damage caused to the user by the act that this service has made under this section, it does not take any responsibility.</li>
      </ol>
    </p>
  </div>

  <h4>Article 7 (Guarantee of denial and Disclaimer)</h4>
  <div class="article">
    <p>
      <ol>
        <li>Defect (safety on on or legal fact this service, including reliability, accuracy, completeness, efficacy, fitness for a particular purpose, defects related to such security, errors or bugs, such as infringement. ) also explicitly or implicitly that there is no is not guaranteed.</li>
        <li>Due to this service and does not assume any responsibility for any damage caused to the user.</li>
        <li>With respect to the present service, transactions that occurred in between the user and the other user or third party, does not assume responsibility for contact or dispute, etc..</li>
      </ol>
    </p>
  </div>

  <h4>Article 8 (Of service contents change, etc.)</h4>
  <div class="article">
    <p>
      This service, without notice to the user, it is assumed that it is possible to discontinue the provision of change the contents of the service or services, this does not take responsibility for any damage caused to the user.
    </p>
  </div>

  <h4>Article 9 (Change of Terms of Service)</h4>
  <div class="article">
    <p>
      If it is determined necessary, it is assumed that it is possible to change the Terms at any time without notice to the user.
    </p>
  </div>

  <h4>Article 10 (Notice or contact)</h4>
  <div class="article">
    <p>
      Notification or contact to the user, you shall be made by the method to the provisions of this service.
    </p>
  </div>

  <h4>Article 11 (Prohibition of Transfer of Rights and Obligations)</h4>
  <div class="article">
    <p>
      The user, without the prior consent of the service, and to assign rights or obligations under the service contract on the position or this Agreement to any third party, or can not be subjected to collateral.
    </p>
  </div>

  <h4>Article 12 (Governing Law, Jurisdiction)</h4>
  <div class="article">
    <p>
      When this convention construed and governed by the laws of Japan.
    </p>
  </div>

  <div class="concluded">
    <p>
      Concluded.
    </p>
  </div>
</div>

